@mixin button($bg: red, $color: #fff, $border: #a5a5a5) {
    background: $bg;
    color: $color;
    margin: 6px 0;
    width: 100%;
    font-size: 18px;
    padding: 12px 0;
    border-radius: 50px;
    border: 1px solid $border;
}

@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}